.search-bar-container {
    position: relative;
    background-color: white;
    padding: 0.7rem 0 0.7rem 1rem;
    border-radius: 0.4rem;
    display: flex;
    transition: var(--transition);
    box-shadow: 4px 7px 45px -35px rgba(66, 68, 90, 1);
    gap: 0.6rem;
    input {
        font-size: 1rem;
        width: 17rem;
        font-weight: 540;
        &:focus {
            outline: none;
            &::placeholder {
                visibility: hidden;
            }
        }
        &::placeholder {
            font-weight: 550;
            font-size: 0.75rem;
        }
        border: none;
    }
    &:hover {
        opacity: 0.85;
    }
    .fa-circle-xmark {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: absolute;
        right: 1rem;
        top: 0;
        bottom: 0;
        margin: auto 0;
        color: rgb(114, 108, 108);
        font-size: 0.91rem;
    }
    @media only screen and (max-device-width: 1700px) {
        input {
            width: 12rem;
        }
    }
    @media only screen and (max-device-width: 800px) {
        input {
            width: 12rem;
        }
    }
}
